Repository peteraritchie/ConsoleApplicationBuilder: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/cd-template.yml, .azuredevops/ci-CommandLineExtensions.yml, .azuredevops/ci-build.yml

.azuredevops/cd-template.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      steps:
      - task: UseDotNet@2
        displayName: Use .NET SDK $(dotNetVersion)
        inputs:
          packageType: sdk
          version: $(dotNetVersion)
  ...

.azuredevops/ci-CommandLineExtensions.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: build_test
    displayName: Build and Test
    jobs:
    - job: Build
      displayName: Build and Test
      steps:
      - task: UseDotNet@2
        displayName: Use .NET SDK $(dotNetVersion)
        inputs:
          packageType: sdk
  ...

.azuredevops/ci-build.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: build_test
    displayName: Build and Test
    jobs:
    - job: Build
      displayName: Build and Test
      steps:
      - task: UseDotNet@2
        displayName: Use .NET SDK $(dotNetVersion)
        inputs:
          packageType: sdk
  ...

Add environment variable support to configuration
  src/ConsoleApplicationBuilder/ConsoleApplicationBuilder/DefaultConsoleApplicationBuilder.cs
Due: .azuredevops/ci-build.yml

Add environment variable support to configuration (#22)
  src/ConsoleApplicationBuilder/ConsoleApplicationBuilder/DefaultConsoleApplicationBuilder.cs
Due: .azuredevops/ci-build.yml

Fixed CommandLineExtensions readme and added more example unit tests [skip ci]
  src/CommandLineExtensions/README.md
  src/Tests/CommandLineExtensionsTests/Examples.cs
Due: .azuredevops/ci-CommandLineExtensions.yml

Fixed CommandLineExtensions readme and added more example unit tests [skip ci] (#23)
  src/CommandLineExtensions/README.md
  src/Tests/CommandLineExtensionsTests/Examples.cs
Due: .azuredevops/ci-CommandLineExtensions.yml

Fixed assignment of parser when more than one parameter. fixes #24
  src/CommandLineExtensions/OneParameterCommandBuilder.cs
  src/CommandLineExtensions/OneParameterSubcommandBuilder.cs
  src/CommandLineExtensions/ParamSpec.cs
  src/CommandLineExtensions/TwoParameterCommandBuilder.cs
  src/CommandLineExtensions/TwoParameterSubcommandBuilder.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsWithTwoOptionsAndArgumentParserShould.cs
Due: .azuredevops/ci-CommandLineExtensions.yml

Fixed assignment of parser when more than one parameter. fixes #24 (#25)
  src/CommandLineExtensions/OneParameterCommandBuilder.cs
  src/CommandLineExtensions/OneParameterSubcommandBuilder.cs
  src/CommandLineExtensions/ParamSpec.cs
  src/CommandLineExtensions/TwoParameterCommandBuilder.cs
  src/CommandLineExtensions/TwoParameterSubcommandBuilder.cs
  src/Tests/CommandLineExtensionsTests/CommandLineExtensionsWithTwoOptionsAndArgumentParserShould.cs
Due: .azuredevops/ci-CommandLineExtensions.yml

changes to pipeline for ubunto 24.04.
  .azuredevops/ci-CommandLineExtensions.yml
Due: .azuredevops/ci-CommandLineExtensions.yml

moving back to ubuntu 22.04.
  .azuredevops/ci-CommandLineExtensions.yml
Due: .azuredevops/ci-CommandLineExtensions.yml

moving back to ubuntu 22.04. (#26)
  .azuredevops/ci-CommandLineExtensions.yml
Due: .azuredevops/ci-CommandLineExtensions.yml

Fixing path casing [skip ci]
  src/ConsoleApplicationBuilder.sln
Due: none

Fixing path casing (#29)
  src/ConsoleApplicationBuilder.sln
Due: none

Path conditions:
  .azuredevops/cd-template.yml: any of: src/dotnet-new-template, .azuredevops/cd-template.yml, .azuredevops/templates
  .azuredevops/ci-CommandLineExtensions.yml: any of: src/CommandLineExtensions, .azuredevops/ci-CommandLineExtensions.yml, .azuredevops/templates
  .azuredevops/ci-build.yml: any of: src/ConsoleApplicationBuilder, .azuredevops/ci-build.yml
